<section id="about" class="container my-5 spacement">

  <div class=" my-5">
    <div class="row">
      <div class="col-lg-12 col-xl-4 col-md-12 col-sm-12 mb-4">
        <div>
          <img src="../../../assets/Container.svg" class="mb-2" style="width: 100%;" alt="">
        </div>
        <div id="ui-card">
          <img class="mb-4" src="../../../assets/Overlay.svg" alt="">
          <h4>Avaliação Detalhada</h4>
          <p>Realizamos uma análise completa do estado
            do seu carro, avaliando pintura, interior e
            áreas críticas que precisam de atenção.</p>
        </div>
      </div>
      <div class="col-lg-12 col-xl-4 col-md-12 col-sm-12 mb-4">
        <div>
          <img src="../../../assets/Container-1.svg" class="mb-2" style="width: 100%;" alt="">
        </div>
        <div id="ui-card">
          <img class="mb-4" src="../../../assets/Overlay-1.svg" alt="">
          <h4>Personalização</h4>
          <p>Com base na avaliação, sugerimos os melhores
            serviços de estética automotiva para restaurar,
            proteger e realçar a beleza do seu veículo.</p>
        </div>
      </div>
      <div class="col-lg-12 col-xl-4 col-md-12 col-sm-12 mb-4">
        <div>
          <img src="../../../assets/Container-2.svg" class="mb-2" style="width: 100%;" alt="">
        </div>
        <div id="ui-card">
          <img class="mb-4" src="../../../assets/Overlay-2.svg" alt="">
          <h4>Resultado Impecável</h4>
          <p>Executamos o serviço com precisão e cuidado,
            garantindo que seu carro seja entregue com
            um acabamento perfeito, como novo.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="about-content ">
    <div class="left-content pb-5">
      <img loading="lazy" src="../../../assets/service-container-left.png" class="img-fluid" alt="" />
      <button type="button" class="btn btn-primary btn-lg ui-button">
        Large button
      </button>
    </div>

    <div>
      <img loading="lazy" src="../../../assets/about-photo.png" class="img-fluid" alt="" />
    </div>
  </div>
</section>