<section id="about">

  <div class="about-content container">
    <div class="left-content">

      <div id="content-section" class="content container" data-aos="fade-down" data-aos-duration="300">
        <div class="row">

          <h1>
            Por que <span class="highlight">nós</span>
          </h1>
        </div>
        <div class="hero-btn mb-3 mt-3">
          <a class="view-more-btn mb-3"></a>
        </div>
        <p class="pb-3 mb-5" style="font-size: larger">
          Escolha nossos serviços para uma experiência de estética automotiva incomparável. Utilizamos produtos de alta
          qualidade para resultados duradouros e um acabamento impecável. Nossa equipe é composta por profissionais
          especializados, garantindo um atendimento personalizado e de excelência. Oferecemos um serviço premium que
          combina expertise técnica com atenção aos detalhes, proporcionando um tratamento superior para seu veículo.
        </p>

        <div class="stroke-text">
          <h2>
            Técnicos Certificados
          </h2>
          <h2>
            Serviços de reparo
          </h2>
          <h2>
            Garantia de reparos
          </h2>
        </div>
      </div>
    </div>

    <div class="container" data-aos="fade-left" data-aos-duration="300">
      <img loading="lazy" src="../../../assets/molinari-carro.webp" style="margin-top: 1em;" class="img-fluid"
        alt="" />
    </div>

    <!-- <div class="container" data-aos="fade-right" data-aos-duration="300">

      <p class="mt-lg-5 mt-md-5 mt-sm-1 mt-1">
        A combinação de conhecimentos e experiências fortalece nossa capacidade de criar estratégias inovadoras e
        eficazes para cada cliente. Nosso foco está em proporcionar resultados concretos, sempre com compromisso e
        dedicação, lutando pelos direitos de nossos clientes e oferecendo um serviço de alta qualidade e confiança.
      </p>

      <div class="d-flex ajust-margin">
        <div class="d-flex" style="margin-right: 2em;">
          <i class="fas fa-check custom-circle"></i>
          <p>10 anos de experiência</p>
        </div>
        <div class="d-flex">
          <i class="fas fa-check custom-circle"></i>
          <p> Soluções trabalhistas
          </p>
        </div>
      </div>

      <div class="ajust-margin">
        <a type="button" class="btn btn-primary btn-lg ui-button mr-5" style="color: var(--secondary-detail);" href="#questions">
          Saiba mais
        </a>
      </div>
    </div> -->
  </div>
</section>