#about {
  padding-top: 2em;
  padding-bottom: 0em;
  /* background-color: var(--secondary-transparent); */
  padding-bottom: 5em;
  padding-top: 5em;
}

.about-content {
  display: flex;
}

.cards {
  display: flex;
}


.icon-circle {
  width: 50px;
  height: 50px;
  background-color: var(--primary);
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.card-ajust {
  display: flex;
  justify-content: center;
}


.stroke-text h2{
  line-height: 1.2em;
  color: transparent;
  -webkit-text-stroke: 1px var(--light);
  transition: all 0.3s;
  cursor: pointer;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
  cursor: unset;
  font-weight: bold;
}
.stroke-text h2:hover {
  /* color: var(--primary); */
  text-shadow: 
  1px 1px 3px var(--primary), 
  -1px -1px 3px var(--primary);
}


@media (max-width: 998px) {
  .about-content {
    flex-direction: column;
  }
}