<section id="services" class="container spacement">
  <div class="container col-xxl-4">
    <img src="../../../assets/service-h1.svg" class="img-fluid mb-5" alt="" />

    <!-- <a href="">Ver TODOS SERVIÇOS</a> -->
  </div>

  <div id="cards" class="col-xxl-8 pb-4 container" *ngFor="let card of cards">
    <div class="service-card  col-lg-12 col-md-12 col-sm-12 mb-4">
      <div>
        <img [src]="card.image" class=" ak-bg" alt="Card Image" />
      </div>

      <div class="">
        <h3>{{ card.title }}</h3>
        <p>{{ card.description }}</p>
        <a href="">Ver mais</a>

      </div>
    </div>


  </div>
</section>