#services {
  /* margin-top: 5em; */
  margin-top: -3em;
  padding: 4em 0em 4em 0em;
  /* background-color: var(--light); */
}

h1,
p {
  color: var(--light);
}

.service-card {
  display: flex;
  align-items: center;
  gap: 30px;
  background: linear-gradient(90deg, black .34%, rgba(0, 0, 0, 0) 91.06%);
  transition: all .5s ease-in-out;
  /* padding: 0px; */
  margin: 0px 0px 0px !important;
  overflow: hidden;
  width: 100%;
}

.service-card img {
  transition: all .5s ease-in-out;
  width: 100%;
  object-fit: cover;
  max-height: 325px;
  width: 350px;
  height: 325px;
}

.ak-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#sub-banner {
  width: 100%;

}




#sub-banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.card-spacement {
  padding-bottom: 3em;
}


/* Container da Grid */
.card-spacement {
  padding: 10px;
}

/* Card container */
.about_practice_icontext {
  background-color: rgba(255, 255, 255, 0);
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  /* Altura fixa para garantir que todos os cards tenham o mesmo tamanho */
  overflow: hidden;
  transition: all 0.3s ease;
  /* Transição suave para todos os efeitos */
}

/* Efeito ao passar o mouse no card */
.about_practice_icontext:hover {
  opacity: 0.9;
  /* Torna o card ligeiramente transparente */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  /* Aumenta a sombra para dar um efeito de profundidade */
  transform: scale(1.01);
  /* background-color: var(--primary); */

  /* Leve aumento do tamanho para o efeito de zoom */
}

/* Imagem do Card */
.card-image img {
  width: 100%;
  height: 200px;
  /* Altura fixa para a imagem */
  object-fit: cover;
  /* Faz com que a imagem cubra a área sem distorcer */
  transition: transform 0.3s ease;
  /* Transição suave ao passar o mouse na imagem */
}

/* Efeito na imagem ao passar o mouse */
.about_practice_icontext:hover .card-image img {
  transform: scale(1.05);
  /* Aumenta a imagem ligeiramente ao passar o mouse */
}


/* Conteúdo do Card (Título e Descrição) */
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  /* Faz o conteúdo crescer para preencher a altura disponível */
  padding: 15px;
}

.card-content h4 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: var(--light);
}

.card-content p {
  font-size: 1em;
  color: var(--light);
  margin-bottom: 15px;
  overflow: hidden;
  /* Impede que o texto ultrapasse os limites do card */
  text-overflow: ellipsis;
  /* Adiciona "..." quando o texto for longo */
  /* white-space: nowrap; */
  /* Impede o texto de quebrar linhas */
}


/* Estilizando o ícone do carrinho */
#cart-icon {
  position: sticky;
  top: 10px;
  left: 10px;
  font-size: 24px;
  border-radius: 50px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;

}

#cart-icon {
  /* position: static; */
  background-color: var(--primary);
  border: 1px var(--secondary) solid;
}

#cart-icon:hover {
  transform: scale(1.1);
}

/* Contador de itens no carrinho */
.cart-count {
  margin-right: 5px;
  font-weight: bold;
  color: #000;
}

/* Flexbox para alinhar preço e botão ao lado */
.card-content .price-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.price {
  font-size: 1em;
  color: #28a745;
  font-weight: bold;
}

/* Botão de Adicionar ao Carrinho */
.add-to-cart-btn {
  background-color: var(--primary);
  color: #fff;
  font-size: 1em;
  border: none;
  padding: 10px 20px;
  border-radius: 15em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: background-color 0.3s ease;
}

/* Ícone do carrinho e texto do botão */
.add-to-cart-btn i {
  margin-right: 8px;
}

.add-to-cart-btn:hover {
  background-color: var(--primary-dark);
}






.card-body {
  flex-grow: 1;
  /* Permite que o conteúdo da descrição ocupe o espaço restante */
  margin-bottom: 10px;
  /* Adiciona algum espaçamento entre a descrição e o rodapé */
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 1em;
}



@media (min-width: 768px) and (max-width: 1200px) {
  #services {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  #services {
    flex-direction: column;
  }

  .service-card {
    flex-direction: column;
    background-image: linear-gradient(179deg, rgb(4, 6, 7) 0.34%, rgba(4, 6, 7, 0) 91.06%);
    align-items: start;
  }

  .card-spacement {
    padding-bottom: 3em;
  }

  .service-card img {
    transition: all .5s ease-in-out;
    width: 200%;
    object-fit: cover;
    max-height: 325px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  #services {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  #services {
    flex-direction: column;
  }

  .card-spacement {
    padding-bottom: 3em;
  }
}