<section id="services" class="container spacement">
  <div class="pb-5">
    <img src="../../../assets/text-left.png" class="img-fluid" alt="" />
  </div>

  <div id="cards" class="my-5">
    <div class="card-content row g-4">
      <div class="col">
        <div class="h-100">
          <img
            src="../../../assets/card1.png"
            class="card-img-top"
            alt="Card Image"
          />
        </div>
      </div>
      <div class="col">
        <div class="h-100">
          <img
            src="../../../assets/card2.png"
            class="card-img-top"
            alt="Card Image"
          />
        </div>
      </div>
      <div class="col">
        <div class="h-100">
          <img
            src="../../../assets/card3.png"
            class="card-img-top"
            alt="Card Image"
          />
        </div>
      </div>
      <div class="col">
        <div class="h-100">
          <img
            src="../../../assets/card1.png"
            class="card-img-top"
            alt="Card Image"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section id="car-content"> -->

  <!-- <div class="video-background"> -->
    <!-- <img src="../../../assets/service-hero.svg" alt="Banner Fallback" /> -->

    <!-- <div class="content container">
      <h1>
        <span class="highlight">Estética</span><br />
        Automotiva de <span class="highlight">Alto</span> Padrão
      </h1>
      <p class="pb-3" style="font-size: larger">
        serviços de reparo e automóveis para garantir que seu veículo tenha o
        melhor desempenho.<br />Nosso equipe qualificada de técnicos
        certificados.
      </p>
      <button type="button" class="btn btn-primary btn-lg ui-button mr-5">
        Large button
      </button>
    </div> -->
  <!-- </div> -->
<!-- </section> -->
