/* INCIO DO NAVBAR */
html body {
    max-width: 100%;
}


#cart-icon {
    top: 10px;
    left: 10px;
    font-size: 24px;
    background-color: #f4f4f433;
    border: 1px solid #ffffff2b;
    border-radius: 50px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Contador de itens no carrinho */
.cart-count {
    margin-right: 5px;
    font-weight: bold;
    color: #000;
}

.cart-item {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #dddddd26;
    padding-bottom: 1rem;
}

.cart-item:last-child {
    border-bottom: none;
}

.product-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}

.item-details {
    flex-grow: 1;
}

.item-details h4 {
    margin: 0 0 0.5rem;
}

.item-details p {
    margin: 0.2rem 0;
}

.price {
    font-weight: bold;
    color: #007b5e;

}

.remove {
    font-weight: bold;
    color: #ff4d4d;
    cursor: pointer;
}


.scrollable-container {
    height: 100% !important;
    overflow-y: scroll;
    -ms-overflow-style: none;

    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
    max-height: 40em;
    overflow-y: auto;
}

.scrollable-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari e Edge */
}

.close-cart-button {
    width: 40px;
    height: 40px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
    padding-bottom: 8px;
}

.close-cart-button:hover {
    background-color: darkred;
    transform: scale(1.1);
}

.close-cart-button:active {
    transform: scale(0.95);
}


#send-wtp-btn {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* margin: 1.5em 0em 1em 7em; */
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Cor semitransparente */
    backdrop-filter: blur(5px);
    /* Aplica o desfoque */
    z-index: 999;
    /* Fica acima do conteúdo */
    /* display: none; */
}


/* Estilos do menu lateral do carrinho */
.carrinho-lateral {
    position: fixed;
    top: 0;
    right: 0;
    width: 34em;
    height: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
    /* Fica acima do overlay */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 60px;
    /* Espaço para o botão flutuante */
}

.carrinho-lateral.ativo {
    transform: translateX(0);
}

.finalizar-compra {
    position: absolute;
    bottom: 20px;
    left: 11%;
    /* transform: translateX(-50%); */
    background-color: #28a745;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 100px;
    width: 80%;
    /* padding: ; */
    cursor: pointer;
    z-index: 1002;
}


.finalizar-compra:hover {
    background-color: #218838;
}

.finalizar-compra:active {
    background-color: #1e7e34;
}


@media (max-width : 768px) {

    #burger i {
        display: block;
        cursor: pointer;
    }

    .nav-item a {
        display: flex;
        justify-content: center;
        display: none;
        visibility: visible;
    }

    .scrollable-container {
        width: 100%;
    }

    .carrinho-lateral {
        width: 100%;
    }

}