<div *ngIf="carrinhoAberto === true" (click)="carrinhoAberto = false" class="overlay"></div>

<div data-aos="fade-right" class=" carrinho-lateral" *ngIf="carrinhoAberto">
    <div class="d-flex justify-content-between" style="z-index: 1000;">
        <h3>Meu Carrinho</h3>
        <button class="close-cart-button" (click)="fecharCarrinho()">
            &times;
        </button>
    </div>
    <div class="cart-container scrollable-container">
        <div class="p-3" *ngIf="items.length > 0; else emptyCart">
            <div *ngFor="let item of items; let i = index" class="cart-item">
                <img [src]="item.image" alt="{{ item.title }}" class="product-image img-fluid" />
                <div class="item-details">
                    <h4>{{ item.title }}</h4>

                    <!-- <p>{{ item.description }}</p> -->
                    <div class="d-flex">
                        <p class="price" style="margin-right: 1em;"> R$ {{ item.price | number:'1.2-2' }} </p>
                        <p class="remove" (click)="removeFromCart(i)">Excluir</p>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #emptyCart>
            <p>Seu carrinho está vazio! Adicione alguns produtos.</p>
        </ng-template>
    </div>
    <div *ngIf="itemCount > 0" id="send-wtp-btn" class="z-index-1000">
        <div class="d-flex justify-content-center">
            <button class="finalizar-compra d-flex justify-content-center" (click)="sendCartMessage()">Finalizar Compra
                <i class="fa-brands fa-whatsapp fs-4" style="margin-left: 8px;"></i>
            </button>
        </div>
        <div style="margin: 30px;">
            <p>
                Subtotal ({{ itemCount }} Produtos): R$ {{ totalPrice | number:'1.2-2' }}
            </p>
        </div>
    </div>
</div>

